*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Custom scrollbar styles for WebKit browsers */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: #718096;
  border-radius: 9999px;
}

body {
  background-color: #f7fafc;
}

/*-------------Login section-----------------------------*/

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  /* border:1px solid black; */
  background-color: white;
}

/* .logoContainer {
  width: 20%;
  
  display: flex;
  justify-content: center;
  align-items: center;
  border:1px solid rgb(185, 71, 71);
} */

/* .login-card {
  width:30%;
  height: 80%;
  padding: 15px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  border:1px solid black;
  border: none;
  background-color: rgba(146, 212, 92, 0.251);
  border-radius: 18px;
} */

/* .formContainer {
  width:25%;
  height: 54%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border:1px solid black;
  background-color: white;
} */

.formContainer {
  width: 25%;
  height: 55%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5px;
  padding: 20px;
  /* transform: translateY(10%); */
  /* border: 1px solid rgb(0, 0, 0); */
  /* background-color: white; */
  background-color: rgba(146, 212, 92, 0.251);
  border-radius: 18px;
}

.title {
  /* margin-top: 10px; */
  /* display: block; */
  color: yellowgreen;
  /* color: white; */
  width: 50%;
  transform: translate(16%, -120%);
  /* padding: 10px; */
  /* margin-left: 60px; */
  /* border:1px solid black; */
}

.form{
  width: 100%;
  height: 60%;
  /* border: 1px solid black; */
  transform: translateY(-10%);
}

.inputArea {
  width: 100%;
  height: 20%;
  /* transform: translateX(-17%); */
  /* margin-left: -60px; */
  /* padding: 0.5rem; */
  padding: 8px;
  margin-top: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  /* border:1px solid black; */
}

.inputArea::placeholder{
  /* border: 1px solid #ccc; */
  color: #ccc;
}

.inputArea:focus{
  outline: 1px solid #878787;
}

.forgotPassword {
  /* margin-left: -59px; */
  /* padding: 1px; */
  /* height: 20%; */
  /* margin-top: -15px; */
  transform: translate(60%, -50%);
  color: yellowgreen;
  text-decoration: none;
  display: block;
  margin-top: 15px;
  font-size: small;
  /* margin-left: -80px; */
  /* border: 1px solid rgb(189, 20, 20); */
}

.error {
  color: red;
  font-size: small;
  /* margin-bottom: 1rem; */
  /* border: 1px solid black; */
  /* margin: 15px; */
  /* transform: translate(-55%, 15%); */
  /* margin-top: 30px; */
}

.error-div{
  /* border: 1px solid black; */
  display: block;
  /* transform: translate(-22%, 10%); */
}

.btnContainer {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  /* border: 1px solid black; */
}

.submitBtn {
  /* padding: 0.5rem 1rem; */
  width: 100%;
  /* width: 300px; */
  height: 30px;
  /* padding: 20px; */
  background-color: #64c759;
  color: #fff;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  /* border: 1px solid black; */
}

.submitBtn:hover {
  background-color: #468e3e;
}

.footer{
  display: flex;
  font-size: smaller;
  transform: translate(-8%, 20%);
  /* border: 1px solid black; */
  /* color: rgb(18, 17, 17); */
  color: yellowgreen;
}

/* .Link-login {
  display: block;
  text-align: left;
  color: black;
  margin-top: 1.2rem;
  text-decoration: none;
  border: 1px solid black;
} */

.Signup-link {
  /* display: inline-block; */
  /* text-align: end; */
  /* color: rgb(18, 17, 17); */
  color: yellowgreen;
  /* margin-left: 11rem; */
  /* margin-bottom: 1.5rem; */
  text-decoration: none;
  margin-left: 5px;
  /* border: 1px solid black; */
}

.Signup-link:hover{
  color: rgb(93, 126, 27);
  text-decoration: underline;
}
.forgotPasswordLink {
  /* display: block; */
  /* text-align: left; */
  color: yellowgreen;
  /* font-size: small; */
  /* margin-top: 1.2rem; */
  /* margin-top: 20px; */
  text-decoration: none;
  /* border: 1px solid black; */
}

.forgotPasswordLink:hover {
  color: rgb(110, 149, 33);
}


/* ---------------------------- Login Section Ends --------------------- */



/* --------------------------- Signup Section --------------------------- */

.signup-container {
  display: flex;
  /* justify-content: center;
  align-items: center; */
  height: 100vh;
  border: 10px solid rgb(42, 77, 113);
}

.logo-container {
  width: 50%;
  background-color: white;
  border: 10px solid red;
}

.logo {
  /* width: 50%; */
  /* height: 200px; */
  position: fixed;
  top: 35%;
  left: 3%;

  border: 1px solid black;
 
}

.form-container {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* margin-left: 10px; */
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  overflow-y: auto;
  border: 10px solid rgb(169, 40, 40);
  background-color: rgb(255, 255, 255);
}

.form-card {
  border: 1px solid rgb(165, 23, 23);
  border-radius: 4px;
  /* border-width: 20px; */
  margin-top: 100px;
  /* border-color: white; */
  /* margin-left: 40px; */
  background-color: white;
  width: 400px;
  height: 430px;
}

.register {
  /* margin-bottom: 1rem; */
  margin-top: 10px;
  color: yellowgreen;
  width: 70%;
  padding: 10px;
  margin-left: 55px;
  /* border: 1px solid black; */
}

.input-label {
  display: block;
  margin-bottom: 0.5rem;
  padding: 5px;
  /* border: 1px solid black; */
}

.input-area {
  width: 95%;
  margin-left: 10px;
  padding: 0.5rem;
  margin-top: 4px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.input-icon {
  color: #777;
  margin-right: 5px;
  margin-top: 5px;
  /* border: 1px solid black; */
  position: relative;
  bottom: 50%;
  top: 10%;
  /* left:10%; */
}

.btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.register-btn {
  padding: 0.5rem 1rem;
  background-color: yellowgreen;
  color: #fff;
  border: none;
  border-radius: 4px;
  margin-top: 12px;
  cursor: pointer;
}

.toast-container {
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 9999;
}

/* --------------------------- Signup Section Ends --------------------------- */

/* --------------------------- Header Section --------------------------- */

.inNavbar {
  background-color: #fff;
  width: 100%;
  height: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
  /* border: 1px solid black; */
}

.inNavbar .inLogo {
  width: 200px;
  height: 50px;
  cursor: pointer;
}

.inNavbar .inLogo:hover {
  color: #b794f4;
}

.inIcon {
  color: #4a5568;
}

.inBtn {
  background-color: #64c759;
  padding: 0.5rem 1.5rem;
  cursor: pointer;
  border-radius: 9999px;
  color: #fff;
  opacity: 0.95;
  transition: all 0.3s ease;
}

.inBtn:hover {
  opacity: 1;
}

.inNavRightOptions {
  display: flex;
  align-items: center;
}

.userProfile {
  position: relative;
  /* border: 1px solid black; */
  margin-left: 20px;
  /* object-fit: cover; */
}

.userProfile .userProfileDropdown {
  position: absolute;
  top: 3.5rem;
  right: 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  border-radius: 0.5rem;
  overflow: hidden;
  width: 20rem;
  /* border: 1px solid black; */
}

.profileWrapper {
  display: flex;
  align-items: center;
  margin: 0.75rem;
  padding: 0.5rem;
  border-radius: 0.25rem;
  box-shadow: 0 0px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -4px rgba(0, 0, 0, 0.1);
}

.profileWrapper .profileData {
  color: #4a5568;
  display: flex;
  flex-direction: column;
}

.profileWrapper .profileData .name {
  font-weight: 600;
}

.profileWrapper .profileData span {
  font-size: 0.7rem;
  cursor: pointer;
  transition: color 0.3s ease;
}

.profileWrapper .profileData span:hover {
  color: #805ad5;
}

.userImage img,
.profileWrapper img {
  border-radius: 50%;
  width: 2.5rem;
  height: 2.5rem;
  margin-right: 1rem;
  cursor: pointer;
  object-fit: cover;
}

.linksWrapper {
  margin-top: 1rem;
}

.linksWrapper .link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem;
  margin: 0.25rem;
  cursor: pointer;
  border-radius: 0.5rem;
  transition: background-color 0.3s ease;
}

.linksWrapper .link:hover {
  background-color: #edf2f7;
}

.linksWrapper .link .leftSide {
  display: flex;
  align-items: center;
}

.linksWrapper .link .leftSide .icon {
  margin: 0.5rem;
  background-color: #cbd5e0;
  padding: 0.25rem;
  font-size: 1.5rem;
  border-radius: 50%;
}

.linksWrapper .link .actionIcon {
  margin: 0.25rem;
  font-size: 1rem;
}

.linksWrapper .link .icon,
.linksWrapper .link .actionIcon {
  color: #4a5568;
  font-size: 1rem;
}

.inNavRightOptions .inBtn {
  display: none;
}

.mobileSearchBtn {
  height: 2.5rem;
  width: 2.5rem;
  background-color: #edf2f7;
  color: #4a5568;
  cursor: pointer;
  border-radius: 50%;
  display: grid;
  place-items: center;
  font-size: 1.5rem;
}

.mainContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 1.25rem;
}

@media (min-width: 48em) {
  .inSearch {
    display: block;
  }

  .inNavRightOptions .inBtn {
    display: block;
  }
}

/* --------------------------- Header End --------------------------- */

.post-card {
  border-radius: 10px; /* Adjust the radius value to control the roundness of the corners */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Optional: Add a box shadow for a visual effect */
  padding: 20px;
  border-color: #ffffff;
  width: 30%;
  background-color: rgb(253, 253, 253);
}
.selected-image {
  width: 50%;
  height: 10%;
  border-radius: 8px;
}
.calendar-icon {
  margin-left: 10px;
}
.location-icon {
  margin-left: 10px;
}
.tweet-button {
  background-color: #1d9bf0;
  margin-left: 30px;
  color: white;
  border-radius: 9999px;
  border-color: #000000c6;
  padding: 0.5rem 1rem;
  font-weight: bold;
  box-shadow: 2px 2px 2px 2px #ffffff;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.tweet-button:hover {
  background-color: #1a8cd8;
}

.tweet-button:disabled {
  opacity: 0.5;
  cursor: default;
}

.tweet-button:disabled:hover {
  background-color: #1d9bf0;
}
.textarea {
  width: 100%;
  background-color: transparent;
  outline-color: #ffffff;
  border-color: #ffffff;
  font-size: 20px;
}
.emoji-icon {
  margin-left: 10px;
}

.post-card {
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  padding: 20px;
  border-color: #ffffff;
  width: 30%;
  background-color: rgb(253, 253, 253);
}

.selected-image {
  width: 50%;
  height: 10%;
  border-radius: 8px;
}

.calendar-icon {
  margin-left: 10px;
}

.location-icon {
  margin-left: 10px;
}

.tweet-button {
  background-color: #1d9bf0;
  margin-left: 30px;
  color: white;
  border-radius: 9999px;
  border-color: #000000c6;
  padding: 0.5rem 1rem;
  font-weight: bold;
  box-shadow: 2px 2px 2px 2px #ffffff;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.tweet-button:hover {
  background-color: #1a8cd8;
}

.tweet-button:disabled {
  opacity: 0.5;
  cursor: default;
}

.tweet-button:disabled:hover {
  background-color: #1d9bf0;
}

.textarea {
  width: 100%;
  background-color: transparent;
  outline-color: #ffffff;
  border-color: #ffffff;
  font-size: 20px;
}

.emoji-icon {
  margin-left: 10px;
}

/* --------------------------- Left Section --------------------------- */

.leftSection {
  margin: 1rem;
  margin-left: 5rem;
  width: 100%;
  max-width: 15rem;
  min-width: 15rem;
  /* display: none; */
  /* border: 1px solid black; */
}

.leftSection .userProfileWidget {
  display: flex;
  align-items: center;
  background-color: white;
  width: 100%;
  padding: 0.75rem;
  border-radius: 0.75rem;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.leftSection .userProfileWidget img {
  width: 3rem;
}

.leftSection .userProfileWidget .userDetails,
.rightSection .requestWidget .requestProfile .userDetails {
  margin-left: 0.75rem;
}

.leftSection .userProfileWidget .userDetails .name,
.rightSection .requestWidget .requestProfile .userDetails .name {
  font-size: 1rem;
  font-weight: bold;
  color: #333;
  cursor: pointer;
  transition: color 0.3s ease;
}

.leftSection .userProfileWidget .userDetails .name:hover {
  color: #4b7bec;
}

.leftSection .userProfileWidget .userDetails .username,
.rightSection .requestWidget .requestProfile .userDetails .username {
  font-size: 0.75rem;
  color: #666;
}

.profileImage img {
  border-radius: 50%;
  width: 2.5rem;
}

.inSidebar {
  background-color: white;
  margin-top: 1.25rem;
  border-radius: 0.75rem;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.inSidebar .link {
  margin: 0.5rem 0;
  display: flex;
  padding: 0.5rem 1rem;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.inSidebar .link svg {
  margin-right: 0.5rem;
  margin-left: 0.25rem;
  font-size: 1.25rem;
  color: #666;
}

.inSidebar .link:hover svg,
.inSidebar .link:hover h3 {
  color: #4b7bec;
}

.inSidebar .link h3 {
  font-size: 1rem;
  font-weight: bold;
  color: #666;
}

.sidebarCreateBtn {
  display: grid;
  place-items: center;
  margin-top: 1rem;
  cursor: pointer;
}

/* --------------------------- Left Section End --------------------------- */
/*----------------------------Right Section---------------------------------*/
.RightSide {
  background-color: white;
  margin-top: 1.25rem;
  width: 15%;
  height: 80%;
  border-radius: 0.75rem;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  /* border: 1px solid black; */
}

.RightSide-card {
  display: flex;
  /* border: 1px solid black; */
  align-items: center;
  margin-bottom: 1rem;
}

.Right-image {
  /* border: 1px solid black; */
  display: flex;
  align-items: center;
}

.Right-image .profileImg {
  border-radius: 50%;
  /* border: 1px solid black; */
  height: 3rem;
  width: 3rem;
  margin-right: 1rem;
}

.Right-userDetails .Right-name {
  /* border: 1px solid black; */
  font-size: 1rem;
  margin-right: 1rem;
  font-weight: bold;
}
/*----------------------------Right Section End---------------------------------*/



/* --------------------------- Main Section --------------------------- */

.mainSection {
  width: 100%;
  max-width: var(--max-mainSection);
  margin-left: 2px;
  margin-right: auto;
}

::-webkit-scrollbar {
  height: 0;
}

.createPostWidget {
  height: auto;
  margin-top: 3px;
  margin-right: 4px;
  background-color: white;
  border-radius: 9999px;
  position: relative;
}

.createPostWidget.active {
  box-shadow: 0 1px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  border-radius: 1.5rem;
}

.createPostWidget .createInput {
  width: 100%;
  display: flex;
  height: auto;
  padding: 8px 12px;
  justify-content: space-between;
}

/* ----------------------Main Section End ------------------------------ */

/* --------------------------- Post --------------------------- */

.postWrapper {
  background-color: white;
  border-radius: 0.75rem;
  overflow: hidden;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  margin: 1rem 4px;
  padding: 1rem 4px;
  margin-bottom: 1.5rem;
}

.postWrapper .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0.75rem;
}

.postWrapper .header .left {
  display: flex;
  align-items: center;
}

.postWrapper .header .right .option > svg {
  color: #666;
  font-size: 1.6rem;
  cursor: pointer;
}

.postWrapper .header .left .userDetails {
  margin-left: 0.75rem;
}

.postWrapper .header .left .userDetails .name {
  font-weight: bold;
  color: #333;
  cursor: pointer;
  transition: color 0.3s ease;
}

.postWrapper .header .left .userDetails .name:hover {
  color: #4b7bec;
}

/* .postWrapper .header .left .userDetails .feeling {
  font-size: 0.75rem;
  color: #666;
} */

.postWrapper .header .left .profileImg {
  object-fit: cover;
  width: 2.8rem;
  height: 2.8rem;
  border-radius: 50%;
}

.mainPostContent {
  display: flex;
  justify-content: center;
}

.mainPostContent .postImage {
  max-width: 100%;
  max-height: 20rem;
  margin-top: 0.5rem;
  border-radius: 0.75rem;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.postFooter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0.75rem;
}

.postFooter .postActions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 0.5rem;
}

.postFooter .postActions svg {
  margin: 0 0.25rem;
  color: #666;
  font-size: 1.6rem;
  cursor: pointer;
  height: 1.4rem;
  width: 1.4rem;
  transition: color 0.3s ease;
}

.postFooter .postActions svg:hover {
  color: #4b7bec;
}

.postFooter .postActions .left {
  display: flex;
  align-items: center;
}

.noUserFound {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.noUserFound svg {
  font-size: 5rem;
  color: #666;
}

.noUserFound h3 {
  font-size: 1.5rem;
  margin-top: 0.5rem;
  color: #666;
}

/* --------------------------- Post End --------------------------- */